## lambda fuction--> python lambda fuction is anonymous fuction without a function name but we can write a logic

In [2]:
## Normal Technique
a=1
b=2
print(a+b)

3

In [3]:
## fuction
def fun(x,y):
    return x+y
a=1
b=2
print('The value is = ',fun(a,b))

The value is =  3

In [4]:
## lambda fuction
a=1
b=2
c=lambda x,y:a+b
print('The sum = ',c(a,b))

The sum =  3

In [5]:
a=1
b=2
c= lambda x,y:a+b
print("The sum of value =",c(a,b))

The sum of value = 3

In [6]:
a=30
c=lambda x:a+100
print('The value is = ',c(a))

The value is =  130

In [7]:
a=30
c=lambda x:a+150
print('The sum of value = ',c(a))

The sum of value =  180

In [8]:
a=190
c=lambda x:a*170
print('The value remainig = ',c(a))

The value remainig =  32300

In [9]:
## print Table
n= int(input('Enter any number='))
for i in range(1,11):
    print(n,'*',i,'=',(n*i))

Enter any number=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
n=int(input('Enter any number ='))
for i in range(1,18):
    print(n,'*',i,'=',(n*i))

Enter any number =3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51

In [11]:
n=int(input('enter any number ='))
for i in range(1,25):
    print(n,'*','=',(n*i))

enter any number =4
4 * = 4
4 * = 8
4 * = 12
4 * = 16
4 * = 20
4 * = 24
4 * = 28
4 * = 32
4 * = 36
4 * = 40
4 * = 44
4 * = 48
4 * = 52
4 * = 56
4 * = 60
4 * = 64
4 * = 68
4 * = 72
4 * = 76
4 * = 80
4 * = 84
4 * = 88
4 * = 92
4 * = 96

In [12]:
## Table with lambda fuction
n=int(input('Enter any value = '))
c= lambda x ,y:n * i
for i in range (1,11):
    print(n,'*',i,'=',c(n,i))
#print(c)

Enter any value = 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [13]:
n = int(input("Enter a number = "))
c = lambda x , y : n * i 
for i in range(1,11):
    print(n ,'*',i,'=', c(n,i))
#print(c)

Enter a number = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [14]:
n=int(input('Enter any value is = '))
c= lambda x,y : n*i
for i in range(1,18):
    print(n,'*',i,'=',c(n,i))

Enter any value is = 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
7 * 13 = 91
7 * 14 = 98
7 * 15 = 105
7 * 16 = 112
7 * 17 = 119

## map fuction---> map function can execute values with iterations without writing a logic 
# ---> syntax (fuction.iterables)

In [16]:
# fuction
def fun(b):
    if b%2==0:
        return 'The Number {} is Even '.format(b)
    else:
        return 'The Number {} is Odd '.format(b)
a=[1,2,3,4,5,6,7,8,9,10]
c=[]
for i in a:
    sol=fun(i)
    c.append(sol)
print(sol)
print(c)

The Number 10 is Even
['The Number 1 is Odd ', 'The Number 2 is Even ', 'The Number 3 is Odd ', 'The Number 4 is Even ', 'The Number 5 is Odd ', 'The Number 6 is Even ', 'The Number 7 is Odd ', 'The Number 8 is Even ', 'The Number 9 is Odd ', 'The Number 10 is Even ']

In [17]:
def fun(b):
    if b%2==0:
        return 'The Number{} is Even '.format(b)
    else:
        return 'The Number {} is Odd '.format(b)
a=[1,2,3,4,5,6,7,8,9,10]
c=[]
for i in a:
    sol=fun(i)
    c.append(sol)
#print(sol)
print(c)

['The Number 1 is Odd ', 'The Number2 is Even ', 'The Number 3 is Odd ', 'The Number4 is Even ', 'The Number 5 is Odd ', 'The Number6 is Even ', 'The Number 7 is Odd ', 'The Number8 is Even ', 'The Number 9 is Odd ', 'The Number10 is Even ']

In [18]:
## Map
def fun(b):
    if b%2==0:
        return "The Nunber{} is Even ".format(b)
    else:
        return "The Number{} is Odd ".format(b)
a=[1,2,3,4,5,6,7,8,9,10]
n=map(fun,a)
print(list(n))

['The Number1 is Odd ', 'The Nunber2 is Even ', 'The Number3 is Odd ', 'The Nunber4 is Even ', 'The Number5 is Odd ', 'The Nunber6 is Even ', 'The Number7 is Odd ', 'The Nunber8 is Even ', 'The Number9 is Odd ', 'The Nunber10 is Even ']

In [19]:
def square(b):
    return b*b
a=[1,2,3,4]
for i in a:
    sol=square(i)
    print(sol)

1
4
9
16

In [20]:
def square (b):
    return b*b
a=[1,2,3,4]
n=list(map(square,a))
print(n)

[1, 4, 9, 16]

In [21]:
def square(b):
    return b*b
#a=[1,2,3.4]
n=list(map(square,(1,2,3,4)))
print(n)

[1, 4, 9, 16]

In [22]:
a=[1,2,3,4]
n=list(map(lambda x: x+10,a))
print(n)

[11, 12, 13, 14]

In [23]:
a=[1,2,3,4]
n=list(map(lambda x: x+10,a))
print(n)

[11, 12, 13, 14]

In [24]:
a=[1,2,3,4]
b=[10,11,12,13]
n=list(map(lambda x,y: x+y,a,b))
print(n)

[11, 13, 15, 17]

In [25]:
a=[1,2,3,4]
b=[10,11,12,13]
n=list(map(lambda x,y: x+y,a,b))
print(n)

[11, 13, 15, 17]

## Filter function---> Creates an output list,tuple which contains values for which the fuction i true

In [27]:
# function
def Anil(b):
    for i in b:
        if i >=2:
            print(i)
a=[1,2,3,4]
Anil(a)

2
3
4

In [28]:
def Anil(b):
    for i in b:
        if i >=2:
            print(i)
a=[1,2,3,4]
Anil(a)

2
3
4

In [29]:
# Map function
def kamal(b):
        if b >= 2:
            return b
    
a = [1,2,3,4]
n = list(map(kamal , a))
print(n)

[None, 2, 3, 4]

In [30]:
def kamal(b):
    if b>=2:
        return b
a=[1,2,3,4]
n=list(map(kamal,a))
print(n)

[None, 2, 3, 4]

In [31]:
# filter
def Anil(b):
    if b>=2:
        return b
a=[1,2,3,4]
n=list(filter(Anil,a))
print(n)

[2, 3, 4]

In [32]:
def Anil(b):
    if b>=2:
        return b
a=[1,2,3,4]
n=list(filter(Anil,a))
print(n)

[2, 3, 4]

In [33]:
a=list(filter(lambda x: x%2==0,[1,2,3,4,5,6,7,8,9,10]))
print(a)

[2, 4, 6, 8, 10]

## Reduce fuction--> from funtools import reduce

In [35]:
from functools import reduce

In [36]:
a = reduce(lambda x,y:x*y,[1,2,3,4,5])
a

120

In [37]:
## filter 
a=[1,2,3]
b=list(map(lambda x : x+3, filter(lambda x: x>2, a)))
print(b)

[6]

In [38]:
a = [1,2,3]
b = list(map(lambda x : x + 3 , filter(lambda x : x>2 , a)))
print(b)

[6]

In [39]:
## Map with filter
a=[8,9,10,11,12]
b=list(filter(lambda x: x%2==0,map(lambda x: x+2 ,a)))
print(b)

[10, 12, 14]

In [40]:
a=[8,9,10,11,12]
b=list(filter(lambda x: x%2==0, map(lambda x: x+2, a)))
print(b)

[10, 12, 14]

In [41]:
from functools import reduce

In [42]:
## Map and filter reduce
a = reduce(lambda x,y: x+y, map(lambda x: x+2,filter(lambda x : x%2==0, [1,2,3,4,5])))
print(a)

10